.button-style {
    display:flex;
    height: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    border: 1px solid;
    font-size: 0.875rem;
    transition: all 0.3s ease;
    padding: 0.25rem 0.5rem;
    color: white;
}

.input-style {
    margin-top: 0.25rem;
    display: block;
    height: 2rem;
    appearance: none;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db !important;
    padding: 0.25rem 0.5rem;
    line-height: 1;
}